
// Bg Color
$BG_WHITE: #ffffff;
$BG_BLACK:#000;
$BG_PURPLE: #2a2f4d;
$BG_LIGHTBLUE:#ccebff;
$BG_BLUE:#009afe;
$BG_YELLOW:#fdab3d;
$BG_GREY:#c4c4c4;
$BG_LIGHTGREY: #F5F6F8;
$BG_GREEN:#01c875;
$BG_LIGHTRED:#e2445b;
$BG_GREYDISABLE:#c4c4c4;
$BG_HOMEICON:#f378f4;

// Text Color
$WHITE_TXT: #ffffff;
$BLACK_TXT: #444444;
$GREY_TXT: #CECFD4;
$BLUE_TXT:#549ccc;

// Font Size
$fontSize10: 10px;
$fontSize11: 11px;
$fontSize12: 12px;
$fontSize13: 13px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize28: 28px;
$fontSize30: 30px;
$fontSize36: 36px;